html{
  font-family: sans-serif;
  font-size: 14px;
  background-image: url("../images/back1.jpg");
}
.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #6655AA;
}

.navbar-list {
  float: left;
}

.navbar-content {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar-content:hover {
  background-color: #F3B9FF;
}

.header-title{
  text-align : center;
  font-size : 31px;
  text-decoration : underline;
}

.container{
  display: flex;
  align-items: center;
  justify-content: center
}
.photo-sia {
       max-width: 20%
}
.biodata {
font-size: 30px;
padding-left: 20px;
list-style-type : none;
line-height : 2;
}

.pendidikan-list {
  font-size: 20px;
  margin-left : 200px;
  line-height : 1.5;
}

.jadwal {
  border:1px solid black;
}

.table1 {
    font-family: sans-serif;
    color: #444;
    border-collapse: collapse;
    width: 50%;
    border: 1px solid #6655AA;
}

.table1 tr th{
    background: #6655AA;
    color: white;
    font-weight: normal;
}

.table1, th, td {
    padding: 8px 20px;
    text-align: center;
}
.table1 tr:hover {
    background-color: #f5f5f5;
}

.table1 tr:nth-child(even) {
    background-color: #C4B9E0;
}

.aktivitas{
  margin-left : 400px;
  font-size: 25px;
}
